body {
    color: #414141;               /* Dark gray */
    background-color: #EEEEEE;    /* Light gray */
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid;
    
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.6em;
  }